body {
   font-family: 'Wendy One', sans-serif;
    background-color: red;
    margin: 20px;
    padding: 20px;
}
header {
    padding: 50px;
    margin: 50px;
    text-align: center;
    background-color: #4286f4;
    background-image: linear-gradient(white, blue);
}
nav{
    background-color: white;
    padding: 10px;
    margin: 50px;
    font size: 20px;
    text-align: auto;
    font-family: fantasy;
}
nav li {
    display: inline;
    padding: 20px;
}
nav a {
    color:blue;
    text-decoration:none;
    padding: 10px 30px;
}

nav a: hover {
    color: blue;
    background-color: white;
}
section {
    padding: 50px;
    margin: 50px;
    background-color: whitesmoke;
    overflow: auto;
}

.bgpic {
    width: 30%;
    float:right;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align:center;
}